{% extends "base.html" %}
{% block title %}About - What Is A Katie{% endblock %}

{% block content %}
<div class="about-container mx-auto">
    <h1 class="glitch-title">~ WHAT IS A KATIE ~</h1>
        <p style="color: var(--green);">
            I'm Katie — a creative technologist and data person who lives in Pittsburgh, PA I have a pretty varied background with careers ranging from Project and Project Manager to Data Engineer and Product Analyst. Right now i'm focusing on analytics engineering at Brooklyn Data Co.
        </p>

        <p style="color: var(--blue);">
            Lately, i've been trying to find the intersection betwen personal + work skills by tinkering with Flask (like on this site!) and I recently built 
            <a href="https://www.ohitsmetables.com" target="_blank" style="color: var(--pink); text-decoration: underline;">Lore & More</a> — a generator for worldbuilders and TTRPG players/game masters.
        </p>

        <p style="color: var(--green);">
            Outside of work, I spend way too much time:
            <ul style="color: var(--green); list-style-type: '▸ '; margin-left: 2rem;">
            <li>Making maps and doodles for the TTRPG games that I run</li>
            <li>Hanging out with my 5 animals</li>
            <li>Volunteering at organizations that matter to me</li>
            <li>Cooking, a lot! </li>
            </ul>
        </p>

        <p style="color: var(--green);">
            Want to chat? I’m always down to collaborate, talk shop, or talk fun!
            <a href="https://github.com/ohitsmekatie" target="_blank" style="color: var(--blue);">GitHub</a> or drop me a message via email or Linkedin.
        </p>
</div>
{% endblock %}

