{% extends "base.html" %}
{% block title %}About - what is a katie{% endblock %}

{% block content %}
<div class="about-container mx-auto">
    <h1 class="glitch-title">~ WHAT IS A KATIE ~</h1>
        <p style="color: var(--green);">
            I'm Katie — a creative technologist and data person who lives in Pittsburgh, PA. I have a pretty varied background in tech, with careers ranging from Project and Project Manager to Data Engineer and Product Analyst. Right now i'm focusing on analytics engineering at Brooklyn Data Co.
        </p>

        <p style="color: var(--blue);">
            Lately, i've been trying to use my work skills to make fun (or useful!) side projects by tinkering with Flask and different APIs (like on this site!) and I recently built 
            <a href="https://www.ohitsmetables.com" target="_blank" style="color: var(--pink); text-decoration: underline;">Lore & More</a> — a generator for worldbuilders and TTRPG players/game masters. Next up, who knows!
        </p>

        <p style="color: var(--green);">
            Outside of work, I like to spend my time:
            <ul style="color: var(--green); list-style-type: '▸ '; margin-left: 2rem;">
            <li>Making maps and doodles for the TTRPG games that I run</li>
            <li>Hanging out with my 5 fur friends (4 cats, 1 dog)</li>
            <li>Volunteering at organizations that matter to me like 412 Food Rescue and Prison Book Project</li>
            <li>Cooking, a lot! I love finding new recipes to try out. My favorite kind of food to cook is Korean</li>
            </ul>
        </p>

        <p style="color: var(--green);">
            Want to chat? I’m always down to collaborate, talk shop, or talk fun! You can find me at any of the links in the footer.
        </p>
</div>
{% endblock %}

