{% extends "base.html" %}
{% block title %}whatisakatie{% endblock %}
{% block content %}

<div class="intro-container text-center mx-auto">
    <img src="{{ url_for('static', filename='ohitsmekatie.png') }}" class="img-fluid rounded-circle mb-4" alt="Katie's Picture" style="max-width: 200px;">
    <h1 class="display-5 fw-bold">Hey, I’m Katie!</h1>
    <p class="lead">
        I’m a curious data/analytics engineer and analyst and I excel at turning raw data into actionable insights. 
        I love data automation and strive to create an environment where coworkers and teammates can self-serve data. (as much as it’s reasonable!) 
        I thrive in a workplace where I can learn new things and I can pass along my learnings to others.

        In my non-work time I love exploring public datasets, volunteering for causes that are important to me, drawing, 
        and playing tabletop RPGs and board games. 🧙‍♀️ </p>

​
  </div>
  

{% endblock %}
