{% extends "base.html" %}
{% block title %}Projects - what is a katie{% endblock %}

{% block content %}
<div class="text-center mb-5">
   <h1 class="glitch-title">~ PROJECTS ~</h1>
   <p> The best place to look is my GitHub and Linkedin but here are a few things i've done! </p>
</div>

<div class="container">
  <div class="row g-4">

    <!-- Project 1 -->
    <div class="col-md-4">
      <div class="terminal-card terminal-green">
        <div class="terminal-screen">
          <h2>✨ Lore & More</h2>
          <ul>
            <li>A random generator site for RPG game prep & world building.</li>
            <li>Poetry for dependency management</li>
            <li>Built with Flask + Google Sheets</li>
          </ul>
        </div>
        <div class="terminal-links">
          <a href="https://www.ohitsmetables.com" target="_blank">🌐 Live Site</a>
          <a href="https://www.github.com/ohitsmekatie/ohitsmetables" target="_blank">💻 GitHub</a>
        </div>
      </div>
    </div>

    <!-- Project 2 -->
    <div class="col-md-4">
      <div class="terminal-card terminal-blue">
        <div class="terminal-screen">
          <h2>✨ dbt Sample Project</h2>
          <ul>
            <li>A sample project using public data & dbt core</li>
            <li>dbt best practices for naming, organizing</li>
            <li>Macros, packages, other extended features</li>
          </ul>
        </div>
        <div class="terminal-links">
          <a href="https://github.com/ohitsmekatie/dbt-sample-project" target="_blank">💻 GitHub</a>
        </div>
      </div>
    </div>

    <!-- Project 3 -->
    <div class="col-md-4">
      <div class="terminal-card terminal-green">
        <div class="terminal-screen">
          <h2>✨ SQL Snippets</h2>
          <ul>
            <li>Advanced SQL snippets to showcase</li>
            <li>Placeholder</li>
            <li>Placeholder</li>
          </ul>
        </div>
        <div class="terminal-links">
          <a href="https://github.com/ohitsmekatie/code-examples" target="_blank">💻 GitHub</a>
        </div>
      </div>
    </div>

    <!-- Project 4 -->
    <!-- <div class="col-md-4">
        <div class="terminal-card terminal-blue">
          <div class="terminal-screen">
            <h2>✨ Another Cool Thing</h2>
            <ul>
              <li>Placeholder</li>
              <li>Placeholder</li>
              <li>Placeholder</li>
            </ul>
          </div>
          <div class="terminal-links">
            <a href="#" target="_blank">🌐 Live Site</a>
            <a href="#" target="_blank">💻 GitHub</a>
          </div>
        </div>
      </div> -->

       <!-- Project 5 -->
       <!-- <div class="col-md-4">
        <div class="terminal-card terminal-green">
          <div class="terminal-screen">
            <h2>✨ Another Cool Thing</h2>
            <ul>
              <li>Placeholder</li>
              <li>Placeholder</li>
              <li>Placeholder</li>
            </ul>
          </div>
          <div class="terminal-links">
            <a href="#" target="_blank">🌐 Live Site</a>
            <a href="#" target="_blank">💻 GitHub</a>
          </div>
        </div>
      </div> -->

    <!-- Project 6-->
    <!-- <div class="col-md-4">
        <div class="terminal-card terminal-blue">
          <div class="terminal-screen">
            <h2>✨ Another Cool Thing</h2>
            <ul>
              <li>Placeholder</li>
              <li>Placeholder</li>
              <li>Placeholder</li>
            </ul>
          </div>
          <div class="terminal-links">
            <a href="#" target="_blank">🌐 Live Site</a>
            <a href="#" target="_blank">💻 GitHub</a>
          </div>
        </div>
      </div> -->

  </div>
</div>
{% endblock %}

